body {
	background-image: url("../images/stimage.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.jumbotron {
	text-align: center;
	background-color:transparent;
	color: white;
}

.btn-primary {
	width: 100%;
}

#selected-answer {
	color: white;
	font-weight; bold;
}

.card {
	opacity: .82;
}