body {
	background-image: url("../images/stimage.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.jumbotron {
	text-align: center;
	background-color:transparent;
	color: white;
	margin-bottom: 0;
}

.btn-primary {
	width: 100%;
	margin: 5px 0px;
}

.btn-secondary {
	margin-bottom: 10px;
}

#selected-answer {
	color: white;
	font-weight; bold;
}

.card {
	opacity: .82;
	text-align:center;
}

.invisible {
	display: none;
}